@font-face {
    font-family: 'PACE';
    src: url('../fonts/pace-racing-car/PACE.woff2') format('woff2'),
        url('../fonts/pace-racing-car/PACE.woff') format('woff'),
        url('../fonts/pace-racing-car/PACE.ttf') format('truetype'),
        url('../fonts/pace-racing-car/PACE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofast';
    src: url('../fonts/sofast-racing-car/Sofast.woff2') format('woff2'),
        url('../fonts/sofast-racing-car/Sofast.woff') format('woff'),
        url('../fonts/sofast-racing-car/Sofast.ttf') format('truetype'),
        url('../fonts/sofast-racing-car/Sofast.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --background: #212121;
    --box_status: #4B4B4B;
    --bg_gray: #383838;
    --yellow: #FFFF00;
    --gold: #FFC107;
    --red: #DC3545;
    --gren: #28A745;
    --blue: #2A95D3;
    --sofast: 'Sofast';
    --pace: 'PACE';
}

body {
    background: var(--background);
    height: 100vh;
    width: 100%;
}

.site {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
}

.space {
    padding: 30px;
}

.destaque {
    font-weight: bolder;
    color: white;
    font-size: 16pt;
}

header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    a img {
        width: 225px;
        padding: 70px 0 0 0;
    }
}

.login {
    .site {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-family: var(--pace);
            color: var(--yellow);
            align-items: center;
            text-align: center;
            font-size: 21pt;
            text-transform: uppercase;
        }

        .space {
            padding: 15px;
        }

        .box {
            margin: 20px 0 0 0;
            border-radius: 10px;
            background: #FFFFFF;
            width: 95%;
            height: 250px;

            .form-group {
                padding: 5px;
                margin: 20px 0 0 0;

                label {
                    font-family: var(--pace);
                }

                p {
                    margin: 10px 0 0 10px;

                    a {
                        color: black;
                        font-weight: 450;
                        font-family: var(--sofast);
                        text-decoration: none;

                        i {
                            margin-left: 5px;
                        }
                    }
                }

                .form-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    margin: 20px 0 0 0;

                    button {
                        background: var(--gold);
                        border: none;
                        width: 95%;
                        font-family: var(--pace);
                    }
                }
            }
        }
    }
}

h2 {
    font-family: var(--pace);
    color: var(--yellow);
    align-items: center;
    text-align: center;
    font-size: 21pt;
    text-transform: uppercase;
    padding: 25px 40px 15px 40px;
}

.menu {
    .space {
        padding: 0px;
    }

    .site {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            text-transform: uppercase;
            font-family: var(--pace);
            color: white;
            align-items: center;
            text-align: center;
            font-size: 14pt;
            text-transform: uppercase;
        }

        .space {
            padding: 10px;
        }

        .box_links {
            margin: 10px;

            button {
                border-radius: 5px;
                border: none;
                width: 225px;
                height: 40px;
                font-family: var(--pace);
                color: #FFFFFF;
                background: var(--gold);
            }
        }

        .box_links-sair {
            margin: 10px;

            button {
                border-radius: 5px;
                border: none;
                width: 225px;
                height: 40px;
                font-family: var(--pace);
                color: #FFFFFF;
                background: var(--red);
            }
        }
    }
}

.agendamento {
    .site {
        .space {
            padding: 50px;
        }

        .form-select,
        .form-control {
            font-size: 12px;
            padding: 6px;
        }

        .form-conteiner {
            width: 95%;
            margin: 50px auto;
            background: #FFFFFF;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            font-family: var(--pace);
            font-size: 12pt;
        }

        .form-label {
            font-weight: bold;
            text-transform: uppercase;
        }

        .btn-agendar {
            background-color: var(--gold);
            color: #FFFFFF;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
        }
    }
}

.lista {
    .site {
        display: flex;
        justify-content: center;

        .box_list {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 35px;
            background-color: var(--bg_gray);
            width: 95%;
            height: 615px;
            border-radius: 10px;

            .box_status {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                background: var(--box_status);
                width: 90%;
                height: 130px;
                border-radius: 10px;

                p {
                    color: white;
                    align-items: center;
                    text-align: center;
                    font-size: 14pt;
                    width: 100%;
                }

                .status_concluido {
                    margin-top: 15px;
                    font-family: var(--sofast);
                    color: var(--gren);
                    font-weight: bold;
                }

                .status_cancelado {
                    margin-top: 15px;
                    font-family: var(--sofast);
                    color: var(--red);
                    font-weight: bold;
                }

                .status_analise {
                    margin-top: 15px;
                    font-family: var(--sofast);
                    color: var(--blue);
                    font-weight: bold;
                }
            }

            .btn {
                margin-top: 20px;
                border-radius: 5px;
                width: 120px;
                text-decoration: none;
                font-family: var(--pace);
                align-items: center;
                text-align: center;
                color: white;
                background-color: var(--gold);
            }
        }
    }
}

.lista_serv {
    .site {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .box_list {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 35px;
            background-color: var(--bg_gray);
            width: 95%;
            height: 450px;
            border-radius: 10px;

            .box_status {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                background: var(--box_status);
                width: 95%;
                height: 250px;
                border-radius: 10px;

                p {
                    color: white;
                    align-items: center;
                    text-align: center;
                    font-size: 16pt;
                    width: 100%;
                }

                .destaque {
                    font-size: 18pt;
                    font-weight: bolder;
                }

                .status_servico {
                    margin-top: 15px;
                    font-family: var(--sofast);
                    color: var(--red);
                    font-weight: bold;
                }
            }

            .button-servico {
                background-color: var(--gold);
                padding: 10px 20px;
                border: none;
                font-size: 16px;
                font-weight: bold;
                border-radius: 5px;
                margin-top: 30px;
                font-family: var(--sofast);

                a {
                    text-decoration: none;
                    color: white;
                    letter-spacing: 2px;
                }
            }
        }
    }
}

.depoimento {
    background-color: #1e1e1e;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--pace);

    .site {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        h2 {
            color: var(--yellow);
            font-size: 24px;
            font-weight: bold;
            font-family: var(--pace);
            margin-bottom: 20px;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 12px;
            width: 90%;
            max-width: 400px;
            text-align: center;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);

            form {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .descricao {
                    font-weight: bold;
                }

                textarea {
                    resize: none;
                    padding: 10px;
                    font-size: 14px;
                    border-radius: 8px;
                    border: 1px solid #ccc;
                    font-family: var(--pace);
                    text-decoration: dashed;
                }

                textarea:focus {
                    outline: none;
                    border-color: var(--gold);
                    box-shadow: 0 0 8px var(--gold);
                }

                label {
                    font-weight: bold;
                }

                .stars {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    flex-direction: row-reverse;

                    input[type="radio"] {
                        display: none;
                    }

                    label {
                        font-size: 28px;
                        cursor: pointer;
                        color: gray;
                        transition: 0.3s;
                    }

                    label:hover,
                    label:hover~label {
                        color: gray;
                    }

                    label:hover {
                        color: var(--gold);
                    }

                    label:hover~label {
                        color: gray;
                    }

                    input:checked~label {
                        color: gray;
                    }

                    input:checked+label,
                    input:checked+label~label {
                        color: var(--gold);
                    }
                }

                .btn-custom {
                    margin-top: 10px;
                    padding: 10px;
                    background-color: var(--gold);
                    color: white;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-family: var(--pace);
                    border: none;
                    border-radius: 6px;
                    cursor: pointer;
                    transition: background-color 0.3s;
                }
            }
        }

        .btn-voltar {
            margin-top: 16px;
            padding: 8px 16px;
            text-decoration: none;
            font-family: var(--sofast);
            font-weight: bold;
            font-size: 14pt;
            font-family: var(--pace);
            color: white;
            text-transform: uppercase;
            background-color: var(--gold);
            border-radius: 6px;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--gold);
            }
        }
    }
}


.perfil {
    .site {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2 {
            margin-top: 2px;
        }

        .profile-container {
            position: relative;
            display: inline-block;
        }

        .profile-pic {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid yellow;
            margin: 5x;
        }

        .add-icon {
            position: absolute;
            bottom: 5px;
            right: 5px;
            background-color: yellow;
            color: black;
            border-radius: 50%;
            padding: 5px;
            font-size: 18px;
        }

        .container {
            margin-top: 10px;
            background-color: white;
            border-radius: 10px;
            width: 90%;
            height: 530px;
            align-items: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .mb-2 {
            display: flex;
            flex-direction: column;
        }

        label {
            font-weight: bold;
            text-transform: uppercase;
            font-style: italic;
            font-family: var(--sofast);
            align-items: center;
            text-align: center;
            font-size: 10pt;
        }

        .form-control {
            width: 350px;
        }

        .btn-custom {
            background-color: var(--gold);
            font-family: var(--sofast);
            color: white;
            font-weight: bold;
            border: none;
            width: 100%;
        }

        .button-servico {
            background-color: var(--gold);
            padding: 10px 20px;
            border: none;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
            margin-top: 5px;
            font-family: var(--sofast);

            a {
                text-decoration: none;
                color: white;
                letter-spacing: 2px;
            }
        }
    }
}

.esqueci_senha {
    .site {
        h2 {
            margin-top: 50px;
        }

        .container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 100%;

            form {
                width: 100%;
                height: 130px;
                background-color: white;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                label {
                    width: 95%;
                    font-family: var(--pace);
                    margin-top: 20px;
                }

                input {
                    width: 95%;
                    height: 35px;
                    border-radius: none;
                    font-family: var(--pace);
                }

                .btn-link {
                    background-color: var(--gold);
                    border: none;
                    font-family: var(--pace);
                    height: 35px;
                    text-decoration: none;
                    color: white;
                }
            }

            .alert {
                padding: 10px;
                margin: 10px 0;
                border-radius: 4px;
                font-weight: bold;
            }

            .alert.sucesso {
                background-color: #d4edda;
                color: #155724;
                border: 1px solid #c3e6cb;
            }

            .alert.erro {
                background-color: #f8d7da;
                color: #721c24;
                border: 1px solid #f5c6cb;
            }
        }
    }

    p {
        display: flex;
        justify-content: center;
        text-decoration: none;

        a {
            text-decoration: none;
            font-family: var(--pace);
            color: white;
            margin-top: 20px;
            background-color: var(--gold);
            width: 70%;
            height: 30px;
            border-radius: 5px;
            align-items: center;
            text-align: center;
            padding: 5px;
        }
    }
}