@font-face {
    font-family: 'PACE';
    src: url('../fonts/pace-racing-car/PACE.woff2') format('woff2'),
        url('../fonts/pace-racing-car/PACE.woff') format('woff'),
        url('../fonts/pace-racing-car/PACE.ttf') format('truetype'),
        url('../fonts/pace-racing-car/PACE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofast';
    src: url('../fonts/sofast-racing-car/Sofast.woff2') format('woff2'),
        url('../fonts/sofast-racing-car/Sofast.woff') format('woff'),
        url('../fonts/sofast-racing-car/Sofast.ttf') format('truetype'),
        url('../fonts/sofast-racing-car/Sofast.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --background: #212121;
    --yellow: #FFFF00;
    --gold: #FFC107;
    --red: #DC3545;
    --sofast: 'Sofast';
    --pace: 'PACE';
}

body {
    background: var(--background);
    height: 100vh;
    width: 100%;
}

.site {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
}

.space {
    padding: 30px;
}

header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    a img {
        width: 225px;
        padding: 70px 0 0 0;
    }
}

.login {
    .site {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-family: var(--pace);
            color: var(--yellow);
            align-items: center;
            text-align: center;
            font-size: 21pt;
            text-transform: uppercase;
        }

        .space {
            padding: 15px;
        }

        .box {
            margin: 20px 0 0 0;
            border-radius: 10px;
            background: #FFFFFF;
            width: 95%;
            height: 250px;

            .form-group {
                padding: 5px;
                margin: 20px 0 0 0;

                label {
                    font-family: var(--pace);
                }

                .form-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    margin: 20px 0 0 0;

                    button {
                        background: var(--gold);
                        border: none;
                        width: 95%;
                        font-family: var(--pace);
                    }
                }
            }
        }
    }
}

h2 {
    font-family: var(--pace);
    color: var(--yellow);
    align-items: center;
    text-align: center;
    font-size: 21pt;
    text-transform: uppercase;
    padding: 25px 40px 15px 40px;
}

.menu {
    .space {
        padding: 0px;
    }

    .site {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;



        p {
            text-transform: uppercase;
            font-family: var(--pace);
            color: white;
            align-items: center;
            text-align: center;
            font-size: 14pt;
            text-transform: uppercase;
        }

        .space {
            padding: 10px;
        }

        .box_links {
            margin: 10px;

            button {
                border-radius: 5px;
                border: none;
                width: 225px;
                height: 40px;
                font-family: var(--pace);
                color: #FFFFFF;
                background: var(--gold);
            }
        }

        .box_links-sair {
            margin: 10px;

            button {
                border-radius: 5px;
                border: none;
                width: 225px;
                height: 40px;
                font-family: var(--pace);
                color: #FFFFFF;
                background: var(--red);
            }
        }
    }
}

.agendamento {
    .site {
        .space {
            padding: 50px;
        }

        .form-select, 
        .form-control {
            font-size: 12px;
            padding: 6px; 
        }

        .form-conteiner {
            width: 95%;
            margin: 50px auto;
            background: #FFFFFF;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            font-family: var(--pace);
            font-size: 12pt;
        }

        .form-label {
            font-weight: bold;
            text-transform: uppercase;
        }

        .btn-agendar {
            background-color:var(--gold);
            color: #FFFFFF;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
        }
    }
}